<h1>Dragon Ball Z</h1>
<hr>

<div class="row">
    <div class="col">
        <!-- Indicador con sobrenombre 'data' -->
        <!-- <app-personajes [data]="personajes"> -->
        
        <!-- Indicador con nombre del mismo atributo. -->
            <!-- <app-personajes [personajes]="personajes"> -->
            <app-personajes>
        </app-personajes>
    </div>
    
    <div class="col">
       <!-- <app-agregar 
            [nuevo]="nuevo"
            (onNuevoPersonaje)="agregarNuevoPersonaje($event)"
       ></app-agregar> -->
       <app-agregar [nuevo]="nuevo"></app-agregar>

    </div>
 </div>